---
import WorkingIcon from "../icons/WorkingIcon.astro"
import ProjectsIcon from "../icons/ProjectsIcon.astro"
import AboutMeIcon from "../icons/AboutMeIcon.astro"
import ContactIcon from "../icons/ContactIcon.astro"

import Options from "./Options.svelte"

import { getLangFromUrl, useTranslations } from '$lib/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header>
  <nav>
    <ul>
      <li>
        <a href="#experiencia">
          <WorkingIcon />
          Experiencia
        </a>
      </li>
      <li>
        <a href="#proyectos">
          <ProjectsIcon />
          Proyectos
        </a>
      </li>
      <!-- <li>
        <a href="#sobre-mi">
          <AboutMeIcon />
          Sobre mi
        </a>
      </li> -->
      <li>
        <a href="#contacto">
          <ContactIcon />
          Contacto
        </a>
      </li>
      <li>
        <Options text={ t("navbar").options } drawerTitle={ t("navbar").optionsTitle } drawerDescription={ t("navbar").optionsDescription } client:load />
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 1px solid hsla(var(--text-color) / 30%);
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: hsla(0, 0%, 100%, 90%);
    z-index: 5;

    animation: shrink-header linear forwards;
    animation-timeline: scroll();
    animation-range: 0vh 100px;
  }

  header ul li:last-of-type {
    display: none;
  }

  @keyframes shrink-header {
    from {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    
    to {
      padding-top: 0;
      padding-bottom: 0;
      backdrop-filter: blur(10px);
    }
  }

  nav > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav > ul > li:not(:last-child) {
    border-right: 1px solid hsla(var(--text-color) / 30%);
  }

  nav > ul > li > a,
  nav > ul > li button {
    display: flex;
    gap: .25rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: .5rem .75rem;
    background: transparent;
    height: 100%;
    width: 100%;

    transition: background .15s linear;
  }

  nav > ul > li:first-of-type > a,
  nav > ul > li:first-of-type button {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }
  
  nav > ul > li:last-of-type > a
  nav > ul > li:last-of-type button {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }

  nav > ul > li > a:hover
  nav > ul > li button:hover {
    background: hsla(var(--accent-color) / 50%)
  }

  @media screen and (max-width: 650px) {
    header {
      bottom: 0;
      top: unset;
      box-sizing: border-box;
      position: fixed;
      padding: 0 !important;
      background: white;

      animation: none;
    }

    header nav,
    header nav > ul {
      width: 100%;
      box-sizing: border-box;
    }

    header nav ul li a,
    header nav ul li button,
    header nav ul li {
      box-sizing: border-box;
      width: 100%;
      flex-direction: column;
    }

    header nav ul li a,
    header nav ul li button {
      padding-block: 1rem;
    }

    header ul li:last-of-type {
      display: flex;
    }
  }
</style>